@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  box-sizing: border-box;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.center-vertical {
  padding-top: 10px;
}

.room:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
}

.floor {
  border: 2px solid rgba(0, 0, 0, 0.0) !important;
}

.floor-inner {
  border-width: 2px solid rgba(0, 0, 0, 0.0);
  font-size: 1.5rem;
}

.floor.current {
  border-color: rgb(0, 0, 0) !important;
  font-weight: 700;
}

.floor-inner.current {
  border-color: rgba(64, 36, 36, 0.5) !important;
}

.floor:hover {
  font-weight: 700;
}

.floor-btn {
  font-weight: 500;
  border-width: 3px;
  margin: 0 2px;
  border-color: black;
}

.floor-capacity {
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}